 <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="{{STATIC_URL}}js/html5shiv.js"></script>
  <script src="{{STATIC_URL}}js/respond.min.js"></script>
  <![endif]-->


	<!-- Placed js at the end of the document so the pages load faster -->
	<script src="{{STATIC_URL}}js/jquery-1.10.2.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery-ui-1.9.2.custom.min.js"></script>
	<script src="{{STATIC_URL}}js/jquery-migrate-1.2.1.min.js"></script>
	<script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
	<script src="{{STATIC_URL}}js/modernizr.min.js"></script>


	<!--icheck -->
	<script src="{{STATIC_URL}}js/iCheck/jquery.icheck.js"></script>
	<script src="{{STATIC_URL}}js/icheck-init.js"></script>


	<!--Calendar-->
	<script src="{{STATIC_URL}}js/calendar/clndr.js"></script>
	<script src="{{STATIC_URL}}js/calendar/evnt.calendar.init.js"></script>
	<script src="{{STATIC_URL}}js/calendar/moment-2.2.1.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>

 <!-- Placed js at the end of the document so the pages load faster -->
	<script src="{{STATIC_URL}}js/jquery.nicescroll.js"></script>

	<!--common scripts for all pages-->