<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="keywords" content="RunFast, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
  <meta name="description" content="">
  <meta name="author" content="ThemeBucket">
  <link rel="shortcut icon" href="#" type="image/png">

  <title>RunFast</title>
   {% include "_stylesheet.html" %}
   {% include "_javascript.html" %}

</head>

<body class="menubackground" style="overflow-x: hidden; overflow-y: hidden;">
	
		<div class="left-side-inner">
			        
            <!--sidebar nav start-->
            <ul class="nav nav-pills nav-stacked custom-nav">
                
				<li class="active"><a href="###" target="iframemain"><i class="fa fa-edit"></i> <span>基本信息 </span></a></li>
                <li><a href="###" target="iframemain"> <i class="fa fa-dashboard"></i> <span> 后台汇总 </span></a></li>
                <li><a href="###" target="iframemain"> <i class="fa fa-qrcode"></i> <span> 会员管理 </span></a></li>
                <li><a href="###" target="iframemain"> <i class="fa fa-qrcode"></i> <span> 玩家管理 </span></a></li>
                <li><a href="###" target="iframemain"> <i class="fa fa-qrcode"></i> <span> 售卡记录 </span></a></li>
                <li><a href="###" target="iframemain"> <i class="fa fa-qrcode"></i> <span> 牌局统计 </span></a></li>
                <li><a href="###" target="iframemain"> <i class="fa fa-qrcode"></i> <span> 会员返卡 </span></a></li>
                <li><a href="###" target="iframemain"> <i class="fa fa-edit"></i> <span> 修改密码 </span></a></li>
                <li><a href="###" target="iframemain"> <i class="fa fa-desktop"></i> <span> 退出 </span></a></li>
              {% comment %}  <li class="menu-list"><a href="#"><i class="fa fa-tasks"></i> <span> 后台汇总 </span></a>
                    <ul class="sub-menu-list">
                        <li><a href="" target="iframemain"><i class="fa fa-angle-right"></i> 物理服务器 </a></li>
                        <li><a href="" target="iframemain"><i class="fa fa-angle-right"></i> 虚实结合 </a></li>
                    </ul>
                </li>{% endcomment %}


            </ul>
            <!--sidebar nav end-->

        </div>
</body>
{% include "_comm_script.html" %}
</html>